# dependencies
/node_modules

# next.js
/.next/

# production
/build
out
.firebase/

# debug
npm-debug.log*

# local env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# backend
/backend/target/
