@use "imports.scss";

@use "components/socials_bar.scss";

@use "sections/top.scss";

* {
  margin: 0;
  padding: 0;

  cursor: url("/assets/cursor.cur"), default;
}

body {
  background-color: black;
}

::selection, ::-moz-selection {
  background: white;
  color: black;
  text-shadow: none;
}

.text-link {
  color: darkgray;

  transition: color .2s;

  &:hover {
    color: gray;
  }
}
