@use "imports.scss";

@use "components/language_selection.scss";
@use "components/socials_bar.scss";

@use "sections/top.scss";

* {
  margin: 0;
  padding: 0;

  cursor: url("/assets/cursor.cur"), default;
}

body {
  background-color: black;
}

::selection, ::-moz-selection {
  background: white;
  color: black;
  text-shadow: none;
}

.text-link {
  color: darkgray;

  transition: color .2s;

  &:hover {
    color: gray;
  }
}

// GLOBALS

.socials-bar {
  top: 10px;
  left: 10px;

  @media (orientation: portrait) {
    top: 40px;
    left: 20px;
  }
}

.language-selection {
  top: 10px;
  left: calc(100% - 10px);

  transform: translateX(-100%);

  @media (orientation: portrait) {
    top: 40px;
    left: calc(100% - 20px);
  }
}
