@use "imports.scss";

@use "components/text_scroller.scss";
@use "components/presentation_link.scss";

@use "sections/top.scss";
@use "sections/presentation.scss";

* {
  margin: 0;
  padding: 0;

  cursor: url("/assets/cursor.cur"), default !important;
}

svg, svg > * {
  cursor: url("/assets/cursor.cur"), default !important;
}

body {
  background-color: black;
}

main {
  height: 100vh;

  overflow-y: scroll;

  scroll-snap-type: y mandatory;
}


::selection, ::-moz-selection {
  background: white;
  color: black;
  text-shadow: none;
}

.main-section {
  height: 100vh;

  overflow: hidden;

  scroll-snap-align: start;
}
