
.repository {
    height: 130px;

    color: white;

    display: flex;

    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    padding: 15px 15px;

    transition: box-shadow 0.3s;

    font-size: 1.1em;

    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (orientation: portrait) {
        font-size: 1em;
    }
}

.repository:hover {
    box-shadow: 0 0 20px;
}

.repository > .repository-name > h1 {
    position: relative;
}

.repository > .repository-name > h1::after {
    content: "";

    position: absolute;

    top: 105%;
    left: 50%;

    transform: translateX(-50%);

    height: 1px;
    width: 0;

    background-color: white;

    transition: width 0.3s;
}

.repository:hover > .repository-name > h1::after {
    width: 100%;
}

.repository-name {
    display: flex;

    justify-content: space-between;

    @media (orientation: portrait) {
        flex-direction: column;

        justify-content: flex-start;
        align-items: flex-start;

        gap: 5px;

        font-size: 0.9em;
    }
}

.repository-name > h1 {
    margin-right: 30px;
}

.repository-fork {
    display: flex;

    gap: 10px;

    justify-content: center;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (orientation: portrait) {
        font-size: 0.9em;
    }
}

.repository-fork > p > a {
    color: #c4c4c4;

    text-decoration: none;

    transition: text-shadow 0.3s, color 0.3s;
}

.repository-fork > p > a:hover {
    color: #ffffff;

    text-shadow: 0 0 10px;

    text-decoration: none;
}

.repository > p {
    margin-right: 50px;
}

.repository-data,
.repository-data > div {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 15px;
}

.repository > div {
    width: 100%;
}

.repository-language {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 5px;
}

.language-circle {
    height: 15px;
    width: 15px;

    background-color: white;

    border-radius: 50%;

    @media (orientation: portrait) {
        height: 10px;
        width: 10px;
    }
}

.repository-counters > div {
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 20px;

    gap: 5px;
}

.repository-updated-at,
.repository-language {
    @media (orientation: portrait) {
        font-size: 0.8em;
    }
}