@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-family: "Figtree";
    --border-radius: 8px;
    --background: url("/background.png");
}

* {
    margin: 0;

    font-family: var(--font-family), sans-serif;

    user-select: none;

}

body, html, main {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    overflow: hidden;

    height: fit-content;

    background: linear-gradient( rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)), var(--background);
}

.spin {
    animation: spinner 1s linear infinite;
}
