@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;

    font-family: "Figtree", sans-serif;

    user-select: none;
}

body, html, main {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url("/background.png");
}

/*title section*/
.title {
    color: white;

    position: relative;

    height: 100vh;
}

.title > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}

.title > div > * {
    margin: 0;

    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.title > div > * {
    transition: text-shadow 0.3s;
}

.title > div > *:hover {
    text-shadow: 0 0 10px;
}

.title > div > h1 {
    font-size: 12em;
}

.title > div > h2 {
    font-size: 3em;
}

/*presentation section*/
.presentation {
    position: relative;

    height: 60vh;
}

.presentation-container {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;

    gap: 30px;

    color: white;

    padding: 30px 15px;

    font-weight: bold;
}

.presentation-socials {
    display: flex;

    gap: 15px;
}

/*projects section*/
.projects {
    height: 100vh;

    position: relative;
}

.projects > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;

    gap: 40px;

    justify-content: center;
    align-items: center;
}

.repositories {
    display: flex;

    flex-direction: column;

    gap: 25px;

    justify-content: center;
    align-items: center;
}

.repositories > div {
    width: 50vw;
}

.repository-page-selector {
    min-height: 50px;
}