@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --font-family: "Figtree";
    --border-radius: 8px;
    --background: url("/background.png");
}

* {
    margin: 0;

    font-family: var(--font-family), sans-serif;

    user-select: none;

}

body, html, main {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}

main {
    height: 100vh;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section, footer {
    scroll-snap-align: center;
}

body {
    height: fit-content;

    background: linear-gradient( rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)), var(--background);
}

.spin {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(365deg);
    }
}


.box-loading {
    color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-size: 1.3em;

    gap: 15px;
}

.box-loading > svg {
    font-size: 35px;
}


/*title section*/
.title {
    color: white;

    position: relative;

    height: 100vh;

    @media (orientation: portrait) {
        font-size: 0.5em;
    }
}

.title > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}

.title > div > * {
    margin: 0;

    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.title > div > * {
    transition: text-shadow 0.3s;
}

.title > div > *:hover {
    text-shadow: 0 0 10px;
}

.title > div > h1 {
    font-size: 12em;
}

.title > div > h2 {
    font-size: 3em;
}

/*presentation section*/
.presentation {
    position: relative;

    height: 60vh;
    min-height: 700px;

    margin: 10vh 0;

    @media (orientation: portrait) {
        height: 100vh;
        min-height: 850px;
    }
}

.presentation > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;

    gap: 20px;
}

.presentation-container-text {
    display: flex;

    flex-direction: column;

    gap: 30px;

    color: white;

    padding: 23px 23px;

    font-weight: bold;

    width: calc(50vw - 23px);
    max-width: 1000px;

    @media (orientation: landscape) {
        min-width: 650px;
    }

    @media (orientation: portrait) {
        width: 80vw;
    }
}

.presentation-container-text > p {
    margin-right: 20px;

    font-size: 1.2em;

    @media (orientation: portrait) {
        font-size: 1em;
    }
}

.presentation-container-text > p > a {
    color: #676767;

    text-decoration: none;

    transition: color 0.3s, text-shadow 0.3s;
}

.presentation-container-text > p > a:hover {
    color: white;

    text-shadow: 0 0 10px;
}

.presentation-socials {
    display: flex;

    gap: 15px;

    @media (orientation: portrait) {
        gap: 10px;
        justify-content: center;
    }

    flex-wrap: wrap;

    margin-bottom: 15px;
}

.presentation-interactable {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    @media (orientation: portrait) {
        padding: 0 20px;
    }
}

.presentation-experience {
    color: white;

    display: flex;

    flex-direction: column;

    gap: 8px;

    margin-bottom: 15px;
}

.presentation-experience > p:nth-child(2) {
    color: #565656;

    margin-left: 30px;
}

.presentation-experience > p:nth-child(3) {
    margin-left: 60px;
}

.presentation-contact {
    color: white;

    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    @media (orientation: portrait) {
        align-items: center;
    }

    gap: 10px;
}

.presentation-boxes {
    display: flex;

    width: 100%;

    gap: 20px;

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

.presentation-boxes > * {
    width: 50%;
    height: 20vh;

    min-height: 170px;

    @media (orientation: portrait) {
        width: 100%;
    }
}

/*projects section*/
.projects {
    position: relative;

    height: 100vh;
}

.projects > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;

    gap: 40px;

    justify-content: center;
    align-items: center;
}

.repositories {
    display: flex;

    flex-direction: column;

    gap: 25px;

    justify-content: center;
    align-items: center;
}

.repositories > div {
    width: 50vw;
    max-width: 1000px;

    @media (orientation: landscape) {
        min-width: 650px;
    }

    @media (orientation: portrait) {
        width: 85vw;
    }
}

.repository-page-selector {
    min-height: 50px;
}

/*gists*/
.gists {
    min-height: 50vh;

    padding: 20vh 0;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 30px;
}

/*footer section*/
footer {
    height: 400px;

    @media (orientation: portrait) {
        height: 1200px;
    }

    position: relative;

    background: linear-gradient(
        to top,
        black 0%,
        black 50%,
        rgba(0, 0, 0, 0.75) 80%,
        rgba(0, 0, 0, 0.50) 90%,
        transparent 100%
    );
}

.footer-content {
    position: absolute;

    width: 100%;
    max-width: 1000px;

    top: 65%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    align-items: center;
    justify-content: center;

    @media (orientation: portrait) {
        flex-direction: column;
    }

    gap: 50px;
}

.footer-content > img {
    height: 10vw;
    width: 10vw;

    max-width: 192px;
    max-height: 192px;

    @media (orientation: portrait) {
        height: 150px;
        width: 150px;
    }

    @media (max-width: 1070px) {
        @media (orientation: landscape) {
            display: none;
        }
    }
}

.footer-content > div {
    display: flex;

    gap: 50px;

    width: 70%;

    align-items: flex-start;
    justify-content: space-between;

    @media (orientation: portrait) {
        flex-direction: column;

        align-items: center;
    }
}