@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;

    font-family: "Figtree", sans-serif;

    user-select: none;
}

body, html, main {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    height: fit-content;

    background: linear-gradient( rgba(0, 0, 0, 40%), rgba(0, 0, 0, 40%)), url("/background.png");
}

.spin {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(365deg);
    }
}

/*title section*/
.title {
    color: white;

    position: relative;

    height: 100vh;

    @media (orientation: portrait) {
        font-size: 0.5em;
    }
}

.title > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}

.title > div > * {
    margin: 0;

    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.title > div > * {
    transition: text-shadow 0.3s;
}

.title > div > *:hover {
    text-shadow: 0 0 10px;
}

.title > div > h1 {
    font-size: 12em;
}

.title > div > h2 {
    font-size: 3em;
}

/*presentation section*/
.presentation {
    position: relative;

    height: 60vh;

    @media (orientation: portrait) {
        height: 100vh;
    }
}

.presentation-container {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;

    gap: 30px;

    color: white;

    padding: 30px 15px;

    font-weight: bold;

    @media (orientation: portrait) {
        width: 80vw;
    }
}

.presentation-container > p {
    margin-right: 20px;

    font-size: 1.2em;

    @media (orientation: portrait) {
        font-size: 1em;
    }
}

.presentation-socials {
    display: flex;

    gap: 15px;

    flex-wrap: wrap;
}

/*projects section*/
.projects {
    position: relative;

    height: 100vh;
}

.projects[data-loading="true"],
.projects[data-did-error="true"] {
    height: 70vh;
}

.projects[data-did-error="true"] .no-repositories-info {
    box-shadow: 0 0 20px red;

    border: 1px solid red;

    animation: error-border linear infinite 2s;
}

@keyframes error-border {
    0% {
        box-shadow: 0 0 20px red;
    }

    50% {
        box-shadow: 0 0 30px red;
    }

    100% {
        box-shadow: 0 0 20px red;
    }
}

.projects > div {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;

    gap: 40px;

    justify-content: center;
    align-items: center;
}

.no-repositories-info {
    width: 850px;
    height: 175px;

    color: white;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 15px;

    text-align: center;

    padding: 0 30px;
}

.no-repositories-info > h1,
.no-repositories-info > svg {
    font-size: 2.3em;
}

.no-repositories-info > p {
    font-size: 1.3em;
}

.repositories {
    display: flex;

    flex-direction: column;

    gap: 25px;

    justify-content: center;
    align-items: center;
}

.repositories > div {
    width: 50vw;

    @media (orientation: portrait) {
        width: 85vw;
    }
}

.repository-page-selector {
    min-height: 50px;
}

/*footer section*/
footer {
    height: 30vh;

    @media (orientation: portrait) {
        height: 130vh;
    }

    position: relative;

    background: linear-gradient(
        to top,
        black 0%,
        black 50%,
        rgba(0, 0, 0, 0.75) 80%,
        rgba(0, 0, 0, 0.50) 90%,
        transparent 100%
    );

    padding-bottom: 10vh;
}

.footer-content {
    position: absolute;

    width: 60%;

    top: 65%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    @media (orientation: portrait) {
        flex-direction: column;
    }

    align-items: center;
    justify-content: center;

    gap: 50px;
}

.footer-content > img {
    height: 230px;
    width: 230px;

    @media (orientation: portrait) {
        height: 150px;
        width: 150px;
    }
}

.footer-content > div {
    display: flex;

    @media (orientation: portrait) {
        flex-direction: column;
    }

    gap: 50px;

    align-items: flex-start;
    justify-content: center;
}