
.socials-bar-container {
  position: absolute;
  display: flex;

  flex-direction: column;

  height: 80px;

  z-index: 2;

  @media (orientation: portrait) {
    height: 200px;
  }

  & > .socials-div {
    display: flex;

    gap: 15px;

    @media (orientation: portrait) {
      gap: 30px;
    }

    & > a {
      color: white;

      height: 28px;
      width: 28px;

      transition: color .2s;

      @media (orientation: portrait) {
        height: 70px;
        width: 70px;
      }

      &:hover {
        color: gray;
      }

      & > svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  & > .info-div {
    position: absolute;
    display: flex;

    top: 40%;
    left: 45%;

    width: 350px;
    height: 50px;

    @media (orientation: portrait) {
      height: 100px;
      width: 500px;
    }

    & > p {
      color: white;

      max-width: fit-content;

      font-family: roboto, sans-serif;

      align-self: flex-end;

      @media (orientation: portrait) {
        font-size: 30px;
      }
    }

    & > svg {
      height: 100%;

      @media (orientation: portrait) {
        width: 200px;
      }
    }
  }
}
