
.socials-bar-container {
  position: absolute;
  display: flex;

  flex-direction: column;

  height: 80px;

  z-index: 2;

  & > .socials-div {
    display: flex;

    gap: 15px;

    & > a {
      color: white;

      height: 28px;
      width: 28px;

      transition: color .2s;

      &:hover {
        color: gray;
      }

      & > svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  & > .info-div {
    position: absolute;
    display: flex;

    top: 40%;
    left: 40%;

    width: 350px;
    height: 50px;

    & > p {

      color: white;

      max-width: fit-content;

      font-family: roboto, sans-serif;

      align-self: flex-end;
    }

    & > svg {
      height: 50px;
    }
  }
}
