
@keyframes text-scroller-left {
  to {
    left: -600px;
  }
}

.text-scroller {
  height: 100px;
  width: 110vw;

  background-color: var(--background-color);

  user-select: none;

  & > span {
    position: absolute;

    left: max(calc(600px * 8), 100%);

    color: var(--text-color);

    font-family: "BBH Sans Bartle", sans-serif;
    font-size: 100px;
    font-weight: bolder;

    text-align: center;

    transform: translateY(-5px);

    animation: text-scroller-left 30s linear infinite;
  }

  @for $i from 1 through 10 {
    & > span:nth-child(#{$i}) {
      animation-delay: calc(30s / 8 * (8 - #{$i}) * -1);
    }
  }
}
