
.presentation-section {
  position: relative;
}

.presentation-top-scroller {
  position: absolute;

  top: 10vh;

  transform: rotate(-5deg) translateX(-5vw);

  box-shadow:
      0 0 7px #fff,
      0 0 50px #fff;

  text-shadow:
      0 0 7px #fff,
      0 0 100px #fff;
}

.presentation-description {
  position: absolute;
  display: flex;

  font-family: "BBH Sans Bartle", sans-serif;

  color: white;

  width: 90vw;
  height: 50vh;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 50px;

  top: 60vh;
  left: 50vw;

  transform: translate(-50%, -50%);

  & > div {
    display: flex;

    flex-direction: column;
    gap: 70px;

    width: 70%;

    & > h1 {
      transform: rotate(-3deg);
    }

    & > p {
      transform: rotate(1deg);
    }
  }

  & > nav {
    display: flex;

    gap: 20px;

    & > *:nth-child(odd) {
      transform: rotate(-1deg);
    }

    & > *:nth-child(even) {
      transform: rotate(1deg);
    }
  }
}
