
@keyframes top-appear {
  0%, 99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes top-flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
        0 0 7px #fff,
        0 0 102px #fff;
  }

  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes arrow-appear {
  0% {
    top: 110%;

    filter: opacity(0%);
  }

  100% {

    filter: opacity(100%);
  }
}

.top-section {
  position: relative;
}

.top-section-titles {
  position: absolute;
  display: flex;

  top: 50%;
  left: 50%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translate(-50%, -50%);

  & > h1,
  & > h2 {
    font-family: "BBH Sans Bartle", sans-serif;

    color: white;

    animation:
      top-appear 2s,
      top-flicker 1.5s infinite alternate;

    user-select: none;
  }

  & > h1 {
    font-size: min(170px, 20vw);
  }

  & > h2 {
    font-size: min(30px, 3vw);

    animation-delay: 0.3s;
  }
}

.top-section-down {
  position: absolute;

  top: 100%;
  left: 50%;

  color: white;

  filter: opacity(0%);

  transform: translate(-50%, -200%) scale(150%);

  animation: arrow-appear 0.5s ease forwards;
  animation-delay: 1.5s;
}
