
.top-section-container {
  position: relative;
  display: flex;

  height: 100vh;
  width: 100vw;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: roboto, sans-serif;

  & > * {
    color: white;
  }

  & > h1 {
    font-size: 175px;
    text-transform: uppercase;

    @media (orientation: portrait) {
      font-size: 250px;
    }
  }

  & > p {
    font-size: 20px;
    text-align: center;

    padding: 0 20px;

    @media (orientation: portrait) {
      font-size: 40px;
    }
  }

  & > .bottom-left-aside {
    position: absolute;

    top: 99%;
    left: 1%;

    transform: translateY(-100%);

    & > h2 {
      font-size: 16px;
      font-weight: normal;
    }

    @media (orientation: portrait) {
      visibility: hidden;
    }
  }

  & > .bottom-right-aside {
    position: absolute;

    top: 99%;
    left: 99%;

    width: max-content;
    min-width: max-content;

    transform: translate(-100%, -100%);

    text-align: right;

    & > h2 {
      font-size: 16px;
      font-weight: normal;

      @media (orientation: portrait) {
        font-size: 30px;
      }
    }

    & > p {
      @media (orientation: portrait) {
        font-size: 30px;
      }
    }
  }
}
