
.box {
    background-color: black;

    border: white 1px solid;
    border-radius: var(--border-radius);
}

.error-box {
    border: red 1px solid;

    animation: error-border infinite 2s;
}

@keyframes error-border {
    0% {
        box-shadow: 0 0 20px red;
    }

    50% {
        box-shadow: 0 0 30px red;
    }

    100% {
        box-shadow: 0 0 20px red;
    }
}