
.no-content-info {
    width: 850px;
    height: 175px;

    color: white;

    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 15px;

    text-align: center;

    padding: 0 30px;

    @media (orientation: portrait) {
        width: 75vw;
    }
}

.no-content-info > h1,
.no-content-info > svg {
    font-size: 2.3em;

    @media (orientation: portrait) {
        font-size: 1.9em;
    }
}

.no-content-info > p {
    font-size: 0.9em;
}